{% extends 'base.html.twig' %}

{% block title %}Fiche Intervention index{% endblock %}

{% block body %}
<div class="card shadow mb-4">
    <div class="card-header py-3">
			<h6 class="m-0 font-weight-bold text-primary">Interventions</h6>
	</div>
	<div class="card-body">
		<div class="table-responsive">
		<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom_Intervention</th>
                <th>Date_Intervention</th>
                <th>Type_Intervention</th>
                <th>Nombre_H_realisé</th>
                <th>Description</th>
                <th>Lieu_Intervention</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for fiche_intervention in fiche_interventions %}
            <tr>
                <td>{{ fiche_intervention.id }}</td>
                <td>{{ fiche_intervention.NomIntervention }}</td>
                <td>{{ fiche_intervention.DateIntervention ? fiche_intervention.DateIntervention|date('Y-m-d') : '' }}</td>
                <td>{{ fiche_intervention.Type}}</td>
                <td>{{ fiche_intervention.NombreHRealise }}</td>
                <td>{{ fiche_intervention.description }}</td>
                <td>{{ fiche_intervention.LieuIntervention }}</td>
                <td>
                    <a href="{{ path('app_intervention_show', {'id': fiche_intervention.id}) }}">show</a>
                    <a href="{{ path('app_intervention_edit', {'id': fiche_intervention.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_intervention_new') }}">Create new</a>
{% endblock %}
