{% extends 'base.html.twig' %}

{% block title %}Projet index
{% endblock %}

{% block body %}
	<!-- DataTales -->
	<div class="card shadow mb-4">
		<div class="card-header py-3">
			<h6 class="m-0 font-weight-bold text-primary">Projets</h6>
		</div>
		<div class="card-body">
			<div class="table-responsive">
				<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
					<thead>
						<tr>
							
							<th>Client</th>
							<th>Projet</th>
							<th>Chargé dossier</th>
							<th>Lieu intervention</th>
							<th>actions</th>
						</tr>
					</thead>
					<tbody>
						{% for projet in projets %}
							<tr>
								{% set color = (projet.Cluster) %}  
                                
								<td>{{ projet.clientid|split(':', 2)|first }}</td>
								<td>
								
								 <svg style="color:{{color}}"" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-fill" viewBox="0 0 16 16">
                                     <path d="M2 2v13.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2z"/>
                                  </svg>
							       {{ projet.NomProjet }}
								</td>
								<td>{{ projet.NomChargeDossier }}</td>
								<td>{{ projet.LieuIntervention }}</td>
								<td>
									<a class="btn btn-primary" role="button" href="{{ path('app_projet_show', {'id': projet.id}) }}">Show</a>
									<a class="btn btn-primary" role="button" href="{{ path('app_projet_edit', {'id': projet.id}) }}">Edit</a>
									<a class="btn btn-primary" role="button" href="{{ path('app_projet_delete', {'id': projet.id}) }}">Delete</a>
								</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="6">no records found</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<a class="btn btn-primary" role="button" href="{{ path('app_projet_new') }}">Create new</a>
{% endblock %}
