{% extends 'base.html.twig' %}

{% block title %}Projet index
{% endblock %}

{% block body %}
	<!-- DataTales -->
	<div class="card shadow mb-4">
		<div class="card-header py-3">
			<h6 class="m-0 font-weight-bold text-primary">Projets</h6>
		</div>
		<div class="card-body">
			<div class="table-responsive">
				<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
					<thead>
						<tr>
							
							<th>Client</th>
							<th>Projet</th>
							<th>Chargé dossier</th>
							<th>Lieu intervention</th>
							<th>actions</th>
						</tr>
					</thead>
					<tbody>
						{% for projet in projets %}
							<tr>
								{% set color = (projet.Cluster) %}  
                                
								<td>{{ projet.clientid|split(':', 2)|first }}</td>
								<td  style="background: {{ color }}; opacity:.9;">{{ projet.NomProjet }}</td>
								<td>{{ projet.NomChargeDossier }}</td>
								<td>{{ projet.LieuIntervention }}</td>
								<td>
									<a href="{{ path('app_projet_show', {'id': projet.id}) }}">Show</a>
									<a href="{{ path('app_projet_edit', {'id': projet.id}) }}">Edit</a>
									<a href="{{ path('app_projet_delete', {'id': projet.id}) }}">Delete</a>
								</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="6">no records found</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<a href="{{ path('app_projet_new') }}">Create new</a>
{% endblock %}
