{% extends 'base.html.twig' %}

{% block title %}Contrat index
{% endblock %}

{% block body %}
	<!-- DataTales -->
	<div class="card shadow mb-4">
		<div class="card-header py-3">
			<h6 class="m-0 font-weight-bold text-primary">Projet index</h6>
		</div>
		<div class="card-body">
			<div class="table-responsive">
				<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
					<thead>
						<tr>
							<th>Client</th>
							<th>Name</th>
							<th>N° Contrat</th>
							<th>N° Contrat Cadre</th>
							<th>Start</th>
							<th>End</th>
							<th>H/J totale</th>
							<th>H/J restant</th>
							<th>Jours Expert</th>
							<th>TeamExperts</th>
							<th>actions</th>
						</tr>
					</thead>
					<tbody>
						{% for contrat in contrats %}
							<tr>
								<td>{{ contrat.Client}}</td>
								<td>{{ contrat.Name }}</td>
								<td>{{ contrat.NumContrat }}</td>
								<td>{{ contrat.NumContratCadre }}</td>
								<td>{{ contrat.start ? contrat.start|date('Y-m-d') : '' }}</td>
								<td>{{ contrat.end ? contrat.end|date('Y-m-d') : '' }}</td>
								<td>{{ contrat.nombreHTotale }}</td>
								<td>{{ contrat.nombreHRestant }}</td>
								<td>{{ contrat.NbExpertJours }}</td>
								<td>{{ contrat.TeamExperts ? contrat.TeamExperts|join(', ') : '' }}</td>
								<td>
									<a href="{{ path('app_contrat_show', {'id': contrat.id}) }}">show more
									</a><br>
									<a href="{{ path('app_contrat_edit', {'id': contrat.id}) }}">edit</a>
								</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="18">no records found</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<a href="{{ path('app_contrat_new') }}">Create new</a>
{% endblock %}
